*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 
 a {
    color: black;
    font-weight: 800;
    align-items: center;
 }
 
 .caroussel {
    right: 2vw;
    max-width: 600px;
    height: 55vh;
    margin: 60px auto;
    overflow: hidden;
    background-color: #1F1D1D;
    border-radius: 40px;
  }
  
 .caroussel .slider {
    height: 100%;
    animation: caroussel 12s infinite ease-in-out;
    
    /* Pour inverser l'animation */
    display: flex; 
    /* flex-direction: column-reverse; */
  }
 
 .promo4 {
    width: 70%;
    height: auto;
    border-radius: 40px;
 
 }
 
  .card{
    flex-shrink: 0;
    padding: 67px 0;
    width: 100%;
    text-align: center;
    font-size: 2vw;
    color: #C1C1C1;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @keyframes caroussel {
    0%,
    20% {
      transform: translateX(0);
    }
    25%,
    45% {
      transform: translateX(-100%);
    }
    50%,
    70% {
      transform: translateX(-200%);
    }
    75%,
    95% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-400%);
    }
  }

  .commande {
    background: #C1C1C1;
    border-radius: 40px;
    width: fit-content;
    color: #1F1D1D;
    padding: 5px;
    display: flex;
    text-decoration: none;
  }